.square{
	height:50px;
	width:50px;
	border-radius:10px;
	border:2px solid black;
	float:left;
}
.red{
	background:red;
}
.blue{
	background: blue;
}
.yellow{
	background: yellow;
}
.green{
	background: green;
}
.orange{
	background: orange;
}
.pink{
	background: pink;
}
.black{
	background: black;
}
.purple{
	background: purple;
}